<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>我最爱的手机是iphone <%= n%></h1>
<h3>你爱吃的水果是什么呢？</h3>
<ul>
    <% for(var i=0; i<fruits.length; i++){%>
        <li>我最爱吃<%= fruits[i]%></li>
    <%}%>
</ul>
</body>
</html>