
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>ymy论坛</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style>
        .content{
            width:300px;
            heihgt:30px;
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 16px;
        }
    </style>
</head>

<body>
<% include pub/top.ejs%>
<div class="jumbotron">
    <%if(login){%>
    <div class="container">
        <div class="row">
            <a class="col-md-3"href="/upAvatar"><img style="width:200px;" src="/avatar/<%=avatar%>" alt=""></a>
            <div class="col-md-8">
                <h2>欢迎您！<%= username%></h2>
                <form class="form-horizontal" style="font-size: 20px;" id="form-liuyan">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">留言主题：</label>
                        <div class="col-sm-10">
                            <input id="title" name="title" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-2 control-label">请留言：</label>
                        <div class="col-sm-10">
                            <textarea id="content" style="margin-bottom: 20px;" class="form-control" rows="4" name="content" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <p id="tijiaoliuyan"><a class="btn btn-primary btn-lg" type="button" href="#" role="button">提交留言 &raquo;</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%}else{%>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>圆梦源欢迎您！</h2>
                <div style="height:200px;">
                    <p>如果你热爱技术的话，欢迎来这里进行讨论和学习</p>
                </div>
                <p><a class="btn btn-primary btn-lg" href="/reg" role="button">欢迎注册 &raquo;</a></p>
            </div>
            <div class="col-md-6">
                    <h2>欢迎登录</h2>
                    <hr>
                    <form style="width:80%;">
                        <div class="form-group">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                        </div>
                        <div class="form-group">
                            <label for="Password">密码</label>
                            <input type="password" class="form-control" id="Password"  name="password" placeholder="请输入密码">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" required> 我同意
                            </label>
                        </div>
                        <button type="button" id="regBtn" class="btn btn-primary col-md-6 btn-lg">欢迎登录 &raquo;</button>
                    </form>
            </div>
        </div>
    </div>
    <%}%>
</div>

<div class="container">
    <!-- Example row of columns -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!--<li><a href="#">1</a></li>-->
        </ul>
    </nav>
    <div class="row" id="container-liuyan">

        <!--<div class="col-md-4">
            <h2><img src="../a.png" alt="">xxx说：Heading</h2>
            <p>【内容】：Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>【时间】：xx年月日</p>
            <p><a class="btn btn-info" href="javascript:;" role="button">删除按钮 &raquo;</a></p>
        </div>-->
    </div>

<%include pub/footer.ejs%>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    var pageamount=6;
    var $li=null;
    var $btn=null;
    //获取分页
    $.ajax({
        url:'/fenye',
        async:false,
        success:function (count) {//pagination
            var num=Math.ceil(count/pageamount);
            var str="";
            for(var i=0; i<num; i++){
                str+=`<li><a href="javascript:;">${i+1}</a></li>`
            }
            $('.pagination').html(str);
            $li=$('.pagination').children('li');
        }
    });
    //未登录时候的，登录请求；
    $('#regBtn').click(function () {
        $.ajax({
            url:'/doLogin',
            data:$('form').serialize(),
            type:'post',
            success:function (val) {
                if(val.bok){
                    alert(val.msg);
                    window.location.href='/';
                }else{
                    alert(val.msg);
                }
            }
        })
    });
    //登录后，提交留言的请求；
    var $title=$('#title');
    var $content=$('#content');
    $('#tijiaoliuyan').click(function () {
        $.ajax({
            url:'/postliuyan',
            type:'post',
            data:$('#form-liuyan').serialize(),
            success:function (val) {
                if(val.bok){
                    alert(val.msg);
                    window.location.href='/';
                }else{
                    alert(val.msg);
                }
            }
        })
    })
    //加载完页面的时候，就请求所有数据
    page(0);
    $li.first().addClass('active');
    $li.click(function () {
        $(this).addClass('active').siblings('li').removeClass('active');
        page($(this).index())
    })
    function page(page) {
        $.ajax({
            url:'/getAlldata',
            data:{page,pageamount},
            async:false,
            success:function (val) {
                if(val.bok){
                    var data=val.msg;
                    var str="";
                    for(var i=0; i<data.length; i++){
                        var cur=data[i];
                        str+=`<div class="col-md-4" style="height:240px; overflow: hidden;">
            <h4 style="height:60px; line-height: 60px;"><img style="width: 60px; height:60px; margin-right: 10px;" src="./avatar/${cur.avatar}" alt="">${cur.username}说：${cur.title}</h4>
            <p class="content">【内容】：${cur.content}</p>
            <p class="content">【时间】：${cur.time}</p>
            <p><a style="margin-right: 20px;" class="btn btn-info" href="/delete/${cur._id}" role="button">删除按钮 &raquo;</a> <a class="btn btn-info btn-detail" type="button" href="/detail/${cur._id}" role="button">显示详情 &raquo;</a></p>
        </div>`;
                    }
                    $('#container-liuyan').html(str);
                    $btn=$('.btn-detail');
                }else{
                    alert(val.msg)
                }
            }
        })

    }
   $btn.click(function () {
       $('.modal-title').html($(this).data('title'))
       $('.modal-body').html($(this).data('body'))
   })

</script>
</body>
</html>
