<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 101 Template</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: #5a5c94; text-align: center">
<% include include/header.ejs%>
<main>
    <div class="container">
        <img src="/img/404.png" alt="">
    </div>
</main>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>