<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 101 Template</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<% include include/header.ejs%>
<main>
    <div class="container">
        <div class="row">
            <% for(var i=0; i<albums.length; i++){%>
            <div class="col-xs-6 col-md-3">
                <a href="/<%= albums[i]%>" class="thumbnail">
                    <img src="/img/wenjianjia.jpg">
                </a>
                <h3><%= albums[i]%></h3>
            </div>
            <%}%>
        </div>
    </div>
</main>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>